.primary {
  color: $primary;
}

.light {
  color: $light;
}

.darkLight {
  background-color: $darkLight;
  color: $darkLight;
}

.grey {
  color: $grey;
}

.lightGrey {
  background-color: $lightGrey;
}

.middleLight{
  color: $middleLight;
} 

.red {
  color: $red;
}